<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71921906796-00tb2nnrmm094cb96b7hkfklatiom9dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71921906796-00tb2nnrmm094cb96b7hkfklatiom9dt</string>
	<key>API_KEY</key>
	<string>AIzaSyCwffp3zO3dPaXYX-U7NymGLHjjwxXAf3g</string>
	<key>GCM_SENDER_ID</key>
	<string>71921906796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paypals.pagepals</string>
	<key>PROJECT_ID</key>
	<string>authen-6cf1b</string>
	<key>STORAGE_BUCKET</key>
	<string>authen-6cf1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71921906796:ios:0129bee7675d801ae65449</string>
</dict>
</plist>